/* Added some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
body {
  background-color: #60c381;
  padding: 10px;
}

h1 {
  text-align: center;
}

.carousel {
  position: relative;
  width: 410px;
  padding: 10px 40px;
  border: 1px solid rgb(31, 30, 30);
  border-radius: 15px;
  background: rgb(105, 104, 104);
  margin: 0 auto;
}

.carousel img {
  display: block;
}

.arrow {
  position: absolute;
  top: 47px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.left {
  left: 7px;
}

.right {
  right: 7px;
}

.gallery {
  width: 410px;
  overflow: hidden;
}

.gallery ul {
  height: 99px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 300ms;
}

.gallery li {
  display: inline-block;
}
