/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 body {
    background-color:#60c381;
    padding:10px;
  }

  h1 {
    text-align:center;
  }

  li{
      display:inline-block;
  }

  img{
      display:block;
  }

  .carousel{
      position:relative;
      width:420px;
      padding: 10px 40px;
      border: 1px solid #CCC;
      border-radius: 15px;
      background: #eee;
  }

  .gallery{
      width:410px;
      overflow:hidden;
  }

  .gallery ul{
      height:99px;
      width:9999px;
      margin:0;
      padding:0;
      list-style:none;
  }